---
import Layout from '../layouts/Layout.astro';
import '@fontsource-variable/onest';
import '@fontsource/permanent-marker';
import '@fontsource-variable/grandstander'
import Badge from '../components/Badge.astro';
import AD from '../components/icons/AD.astro';
---

<Layout title="¡Bienvenidos!">
	<main>
		<!-- Main part -->
		<div class="bg-gradient-to-b from-neutral-950 to-indigo-950">
		<section class="w-full mx-auto lg:w-[740px] py-44">
		<h1 class="text-white text-5xl justify-center font-grandstander font-bold flex flex-row gap-x-4 pb-10">
			Hey, soy Carlos! <div >
				<Badge>¡Open to Work!</Badge></div>
		</h1>
		<h2 class="text-xl opacity-80">+2 años de experiencia. Desarrollador web & apps. De Venezuela (en Argentina) 🇻🇪 🇦🇷. Creativo con mi pasión, programar. </h2>
		<div class="flex justify-center mt-20"><button id="btdown" ><AD></AD></button></div>
		
		
		</section>
		
		<!-- Proyectos -->
		<section id="nextSection"class="py-8 justify-center items-center ">
			<div class="flex text-4xl justify-center font-bold items-center flex-row gap-x-4 mb-20">
			  <p class="text-white text-5xl font-grandstander font-bold">Proyectos</p>
			</div>
		<div class="flex justify-start ml-32 flex-row">
			<div class="flex justify-center items-center mx-6 max-w-96 p-6 border border-white rounded-lg ">
				<div class="items-start">
					<a class="justify-center flex p-1 mb-4" href="/">Web Layout</a>
					<button><img class="" src="https://i.postimg.cc/gj0rtTvd/asd123.png" alt="icon1"></button>
				</div>
			</div>
			<div class="flex justify-start font-grandstander font-bold">Este es un proyecto </div>
		</div>
		  </section>
		  </div>
		  <script>
document.addEventListener("DOMContentLoaded", function() {
	const scrollDownButton = document.getElementById("btdown");

scrollDownButton.addEventListener("click", function() {
	window.scrollBy({
		top: 1000, // Desplazar 500 píxeles hacia abajo desde la posición actual
		behavior: "smooth" // Animación suave
	});
})

})
		  </script>
	</main>
</Layout>
