<footer class=" py-5 w-full mx-auto bg-gray-900">
    <span></span>
    <nav class="flex items-center justify-start flex-row gap-x-10 opacity-80 ml-5">
        Carlos Rodriguez - 2024
    </nav>
    </footer>